@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

/* Variáveis */
:root {
    --primary-color: #b30000; /* vermelho escuro */
    --secondary-color: #ff4d4d; /* vermelho claro */
    --text-color: #800000; /* marrom avermelhado */
    --background-color: #4d0000; /* fundo em tom de vermelho escuro */
    --button-hover: #d30d49;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
}

/* código omitido */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Corpo da página */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
}

img {
    max-width: 90%;
}

/* código omitido */
